# üåü Clean Code: Writing Maintainable and Readable Python Code

## üìö Introduction to Clean Code

Clean code is not just about writing code that works, but writing code that is:
- **Easy to read**
- **Easy to maintain**
- **Easy to extend**

### üîç Why Clean Code Matters

1. **Readability**
 - Code is read more often than it is written
 - Other developers (including your future self) will thank you

2. **Maintainability**
 - Reduces technical debt
 - Makes debugging and refactoring easier

3. **Collaboration**
 - Enables smoother team workflows
 - Reduces misunderstandings

In [4]:
import pandas as pd
import numpy as np
import scipy as sp
import plotly.express as plt

## üß∞ Library Imports: Best Practices

### Your Initial Imports
```python
import pandas as pd
import numpy as np
import scipy as sp
import plotly as plt
```

#### üí° Import Best Practices

1. **Standard Aliases**
 - `pandas as pd`
 - `numpy as np`
 - These are community-standard conventions

2. **Specific Imports**
 - Instead of `import plotly`, prefer:
   ```python
   import plotly.express as px
   import plotly.graph_objects as go
   ```

3. **Performance Considerations**
 - Only import what you need
 - Avoid `from module import *`

### üöÄ Why These Libraries?

- **Pandas (`pd`)**: 
- Data manipulation
- DataFrame handling
- Data analysis

- **NumPy (`np`)**: 
- Numerical computing
- Array operations
- Mathematical functions

- **SciPy (`sp`)**: 
- Scientific computing
- Advanced mathematical functions
- Statistical operations

- **Plotly (`plt`)**: 
- Interactive visualizations
- Web-based plotting
- Rich, customizable charts

## üéØ Clean Code Principles

### 1. Meaningful Names
- Use descriptive variable names
- Avoid abbreviations
- Be consistent

### 2. Functions Should Do One Thing
- Single Responsibility Principle
- Keep functions small and focused

### 3. Comments and Documentation
- Write self-explanatory code
- Use docstrings
- Comment *why*, not *what*

### 4. Error Handling
- Anticipate and handle potential errors
- Use try-except blocks
- Provide informative error messages

**Remember**: Code is a communication medium between humans!

In [3]:
mj_crime = pd.read_csv('major-crime-indicators.csv')

## üîç Naming Convention
### Current Approach
- Variable Name: mj_crime
- Style: Snake_case ‚úÖ
- Abbreviation: mj = "major"

In [6]:
mj_crime.head(6)

,_id,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
0,1,GO-20141261609,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,9,...,1430,100,Assault,Assault,069,Blake-Jones (69),069,Blake-Jones (69),-79.338139,43.675140
1,2,GO-20141260033,2014-01-01,2013-12-31,2014,January,1,1,Wednesday,2,...,1430,100,Assault,Assault,144,Morningside Heights (144),131,Rouge (131),-79.180387,43.806289
2,3,GO-20141260127,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,1,...,1420,110,Assault Bodily Harm,Assault,084,Little Portugal (84),084,Little Portugal (84),-79.427105,43.642517
3,4,GO-20141260597,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,2,...,1430,100,Assault,Assault,080,Palmerston-Little Italy (80),080,Palmerston-Little Italy (80),-79.415594,43.654946
4,5,GO-20141260618,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,5,...,1430,100,Assault,Assault,081,Trinity-Bellwoods (81),081,Trinity-Bellwoods (81),-79.416718,43.655115
5,6,GO-20141260618,2014-01-01,2014-01-01,2014,January,1,1,Wednesday,5,...,1430,100,Assault,Assault,081,Trinity-Bellwoods (81),081,Trinity-Bellwoods (81),-79.416718,43.655115

# üïµÔ∏è Why `.head(6)`?

## üîç Purpose
- **Quick Data Preview**
- Check first 6 rows of dataset
- Verify data import was successful

## üí° Key Benefits
- See column names
- Check data format
- Spot potential issues
- Understand data structure

**Motto**: "Always peek before diving deep!" üöÄ